@import '~@/containers/App/styles/vars';
@import '~include-media';

.notification {
	color: #fff;
	width: 100%;
	background: #fff;
	position: fixed;
	right: 0;
	left: 0;
	top: -58px;
	height: 90px;
	display: flex;
	align-items: center;
	justify-content: center;
	line-height: 26px;
	visibility: hidden;
	opacity: 0;
	transition: all $duration * 1.5 $bezier;
	z-index: 4;
	padding: 16px;
	background-color: $off-black;
	z-index: 1000;
	> .badge {
		padding: 2px 8px;
		border-radius: $border-radius / 2;
		font-size: 11px;
		text-transform: uppercase;
		font-weight: 800;
	}
	&.show { opacity: 1; visibility: visible; top: 0;}
	&.error {
		> .badge {
			background: red;
		}
	}
	&.success {
		> .badge {
			background: $green;
		}
	}
	> header {
		padding: 24px 24px 12px;
		font-size: 24px;
		font-family: $font-stack !important;
		display: flex;
		align-items: center;
		letter-spacing: 0.5px;
	}
	> p {
		padding: 0 24px 3px 12px;
		margin: 0;
	}
	> .close {
		color: $gray;
		padding: 24px;
		position: absolute;
		right: 0;
		top: 0;
		bottom: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		color: #fff;
		&:hover {
			cursor: pointer;
		}
	}
}