@import '~@/containers/App/styles/vars';
@import '~include-media';

/* notification
************************************************/
	.notification {
		color: $off-black;
		width: 100%;
		background: $white;
		position: fixed;
		right: 0;
		left: 0;
		top: -100px;
		min-height: 100px;
		display: flex;
		align-items: center;
		justify-content: center;
		line-height: 26px;
		visibility: hidden;
		opacity: 0;
		transition: all $duration * 1.5 $bezier;
		z-index: 4;
		padding: 16px;
		z-index: 15;
		box-shadow: 0 2px 6px rgba(0, 21, 64, 0.02), 0 10px 20px rgba(0, 21, 64, 0.02);
		> .badge {
			padding: 2px 8px;
			border-radius: $border-radius / 2;
			font-size: 11px;
			text-transform: uppercase;
			font-weight: 800;
			color: $white;
		}
		&.show { opacity: 1; visibility: visible; top: 0;}
		&.error {
			> .badge {
				background: red;
			}
		}
		&.success {
			> .badge {
				background: $green;
			}
		}
		> header {
			padding: 20px 20px 10px;
			font-size: 24px;
			font-family: $font-stack !important;
			display: flex;
			align-items: center;
			letter-spacing: 0.5px;
		}
		> p {
			padding: 0 20px 3px 10px;
			margin: 0;
			word-break: break-all;
		}
		> .close {
			padding: 10px;
			position: absolute;
			right: 0;
			top: 0;
			bottom: 0;
			display: flex;
			align-items: center;
			justify-content: center;
			> .icon {
				color: $off-black;
				font-size: 16px;
				line-height: 0px;
			}
			&:hover {
				cursor: pointer;
			}
		}
	}