@import '~@/containers/App/styles/vars';
@import '~@/containers/App/styles/shared/type';
@import '~include-media';

/* wall
************************************************/
	.wall {
		display: flex;
		flex-direction: column;
		background: $white;
		align-items: center;
		flex-grow: 1;
		position: relative;
		header {
			@extend .h1;
			@extend %ultralight;
			padding: 20px 0;
			color: $off-black;
		}
		.wall-container {
			display: flex;
			flex-direction: column;
			align-items: center;
			flex-grow: 1;
			width: 100%;
			margin-bottom: 30px;
			> .row {
				display: flex;
				width: 100%;
				flex-direction: column;
			}
		}
	}

	/* item
	************************************************/
		a.item {
			background: $white;
			flex: 1 0 auto;
			max-width: calc(100% - 60px);
			align-self: flex-start;
			flex-grow: 1;
			position: relative;
			overflow: hidden;
			margin: 30px 30px 0;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			border-radius: 4px;
			opacity: 1;
			> img {
				position: absolute;
			}
		}

@include media('>=760px') {

	/* wall
	************************************************/
		.wall {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			.wall-container {
				max-width: $container-width;
				padding: 0 20px;
				> .row {
					flex-direction: row;
				}
			}
		}

		/* item
		************************************************/
			a.item {
				flex: 1 0 calc(25% - 40px);
				max-width: calc(25% - 40px);
				margin: 40px 20px 0px;
			}
}