@import '~@/containers/App/styles/vars';
@import '~@/containers/App/styles/shared/type';
@import '~include-media';

/* layout
************************************************/
	.loader {
		position: fixed;
		z-index: 20;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: $white;
		display: flex;
		align-items: center;
		justify-content: center;
		> .logo {
			height: auto;
			width: 10vw;
			max-width: 210px;
			min-width: 80px;
			fill: transparent;
			stroke: $purple;
		}
	}