@import 'vars';

.fade-enter-active, .fade-leave-active {
	transition: opacity $duration * 2 $bezier;
}

.fade-enter, .fade-leave-to {
	opacity: 0;
}

.fade1-enter-active, .fade1-leave-active {
	transition: opacity $duration * 1.5 $bezier;
}

.fade1-enter, .fade1-leave-to {
	opacity: 0;
}