@import 'vars';

.fade-enter-active, .fade-leave-active {
	transition: opacity $duration * 2 $bezier;
}
.fade-enter, .fade-leave-to {
	opacity: 0;
}

.fade-loader-enter-active, .fade-loader-leave-active {
	transition: opacity $duration * 1 $bezier;
}
.fade-loader-enter, .fade-loader-leave-to {
	opacity: 0;
}

.modal-fade-enter-active, .modal-fade-leave-active {
	transition: opacity $duration * 1 $bezier;
}
.modal-fade-enter, .modal-fade-leave-to {
	opacity: 0;
}

.slide-fade-enter-active {
	transition: all $duration ease;
}
.slide-fade-leave-active {
	transition: all $duration cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to {
	transform: translateY(100px);
	opacity: 0;
}

/* test animation
************************************************/
	.test-fade-enter-active, .test-fade-leave-active {
		transition: opacity $duration * 15 $bezier;
	}
	.test-fade-enter, .test-fade-leave-to {
		opacity: 0;
	}