@import '~@/containers/App/styles/vars';
@import '~@/containers/App/styles/shared/type';
@import '~include-media';

/* layout
************************************************/
	.user-info {
		overflow: hidden;
		position: relative;
		border-bottom: 2px solid #fafafa;
		height: 308px;
	}