@import '~@/containers/App/styles/vars';
@import '~@/containers/App/styles/shared/type';
@import '~include-media';

/* layout
************************************************/
	.profile {
		height: 100%;
		width: 100%;
		position: relative;
		max-width: $container-width;
		> header {
			text-align: center;
			@extend %h4;
			padding: 20px;
		}
	}