@import '~include-media';

@import 'vars';
@import 'base';
@import 'shared/shared';

.app {
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 90px 0 0;
	height: 100vh;
	min-height: 100vh;
}

@include media('>=desktop') {
	.app {
		padding: $nav-height 0 0;
	}
}