@import '~@/containers/App/styles/vars';
@import '~@/containers/App/styles/shared/type';
@import '~include-media';

/* layout
************************************************/
	.upload {
		overflow: hidden;
		position: relative;
		border-bottom: 2px solid #fafafa;
		&.no-images {
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
		}
		&.image {
			border: none;
		}
		&:after {
			position: absolute;
			height: 100%;
			width: 100%;
			left: 0;
			right: 0;
			top: 0;
			bottom: -5px;
			background: linear-gradient(to bottom, rgba($purple, 0.10) 0%, rgba($white, 1) 98%);
			content: ' ';
			z-index: 2;
		}
	}

	/* image bg
	************************************************/
		.upload {
			> img.image-file {
				position: absolute;
				width: auto;
				top: 60%;
				left: 60%;
				transform: translate(-60%, -60%);
				opacity: .5;
				min-width: 110%;
				min-height: 110%;
				height: auto;
				filter: blur(3px);
			}
		}

		/* 1. content box
		************************************************/
			.content-box {
				position: relative;
				z-index: 2;
				transition: all $duration*2 $bezier;
				&.image {
					opacity: 0;
				}
				&.show {
					opacity: 1;
					transition-delay: 250ms;
				}
				> .slogan {
					padding: 50px 50px 0;
					line-height: 30px;
					text-align: center;
					color: darken($purple, 10%);
				}
			}

			@include media('>=600px') {
				.content-box {
					> .slogan {
						font-size: 22px;
					}
				}
			}

			/* file input
			************************************************/
				.input-file {
					width: 0.1px;
					height: 0.1px;
					opacity: 0;
					overflow: hidden;
					position: absolute;
					z-index: -1;
				}

		/* 2. upload boxes
		************************************************/
			.upload-boxes {
				flex-direction: column;
				position: relative;
				display: flex;
				align-items: center;
				padding: 50px;
				z-index: 3;
				> .upload-container {
					> label.button {
					}
				}
				> .cancel-container {
					display: flex;
					margin-top: 20px;
					flex-direction: column;
				}
			}

			@include media('>=500px') {
				.upload-boxes {
					padding: 100px;
					> .cancel-container {
						flex-direction: row;
					}
				}
			}