@import '~@/containers/App/styles/vars';
@import '~@/containers/App/styles/shared/type';
@import '~include-media';

/* layout
************************************************/
	.upload {
		display: flex;
		align-items: center;
		justify-content: space-around;
		flex-direction: column;
		overflow: hidden;
		position: relative;
		height: 400px;
		min-height: 200px;
		transition: all $duration * 2 $bezier;
		// background: #f4f6ff;
		&:hover {
			cursor: pointer;
		}
		&.images-loaded {
			height: 200px;
		}
	}

	/* loader
	************************************************/
		.loader {
			// margin: 100px 0;
		}

	/* inputs
	************************************************/
		.upload {
			> button,
			> label {
				margin: 0 10px;
			}
		}

		/* content box
		************************************************/
			.content-box {
				width: 100vw;
				height: 100%;
				position: relative;
				overflow: hidden;
				background: #C4DFFF;
				transition: all $duration $bezier;
				> div {
					> img {
						position: absolute;
						z-index: 2;
						width: 120%;
						height: auto;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
					}
				}
			}

			/* file input
			************************************************/
				.input-file {
					width: 0.1px;
					height: 0.1px;
					opacity: 0;
					overflow: hidden;
					position: absolute;
					z-index: -1;
					&:focus + label { /* keyboard nav */
					}
					& + label {
						z-index: 4;
						> span {
							font-size: 18px;
							color: darken($purple, 20%);
							z-index: 6;
							padding: 0 50px;
							// @extend %semibold;
							cursor: pointer;
							> .strong {
								color: darken($purple, 40%);
							}
							letter-spacing: 0.25px;
							transition: all $duration $bezier;
						}
						transition: all $duration $bezier;
						height: 100%;
						width: 100%;
						display: flex;
						align-items: center;
						justify-content: center;
						position: relative;
						padding-bottom: 100px;
						// background: #f4f6ff;
						// background: rgba(#f4f6ff, 0.2);
						&.drag {
							opacity: 1;
							> span {
								color: darken($purple, 20%);
							}
							transform: scale(1.025);
						}
						&:after {
							position: absolute;
							height: 100%;
							width: 100%;
							left: 0;
							right: 0;
							top: 0;
							bottom: -5px;
							background: linear-gradient(to bottom, rgba(#ebf3ff, 0.9) 0%, rgba(#ebf3ff, 1) 110%);
							content: ' ';
							z-index: 5;
							cursor: pointer;
						}
					}
				}

		/* upload boxes
		************************************************/
			.upload-boxes {
				position: absolute;
				bottom: 25px;
				z-index: 5;
				width: 100%;
				// left: 25px;
				// right: 25px;
				right: 50px;
				margin-left: 50px;
				display: flex;
				flex-direction: column;
				> button {
					margin-left: 100px;
					&.upload-btn {

					}
				}
			}